---
layout: default
title: "Projects"
description: "Active research projects"
group: navigation
navorder: 3
---
{% include JB/setup %}
<div class="bigspacer"></div> 
{% for project in site.categories.projects %}
  <div class="row">
  <div class="col-md-12 projectbox">
   <div class="media">
        <a class="pull-left" href="{{ project.url }}">
          <img width="100px" class="media-object" src="{{ project.image }}">
        </a>
      <div class="media-body project-text">
          <div class="smallhead media-heading">
          <a href="{{ project.url }}" class="off">{{ project.title }}</a>
          </div>
          <div class="smallspacer"></div> 
          <div class="note">
            {{ project.excerpt }}
          </div>
      </div>
    </div>
  </div>
</div><div class="bigspacer"></div>
{% endfor %}

<div class="bigspacer"></div>
