---
layout: default
title: "Projects"
description: "Active research projects"
group: navigation
navorder: 3
---
{% include JB/setup %}
<div class="bigspacer"></div> 
{% for project in site.categories.projects %}
  <div class="row">
  <div class="col-md-12 projectbox">
    {% if project.embargo %}
    <div class="media">
         <img width=100 class="media-object pull-right" src="{{ project.image }}"/>
        <div class="media-body">
          <div class="smallhead media-heading">
          {{ project.title }}
          </div>
        </div>
    </div>
    {% else %}
   <div class="media">
        <a class="pull-left" href="{{ project.url }}">
          <img width=100 class="media-object" src="{{ project.image }}">
        </a>
      <div class="media-body">
          <div class="smallhead media-heading">
          <a href="{{ project.url }}" class="off">{{ project.title }}</a>
          </div>
      </div>
    </div>
    {% endif %}
  </div>
</div><div class="bigspacer"></div>
{% endfor %}

<div class="bigspacer"></div>
