---
layout: default
title: "Papers"
description: "Research papers from the lab"
group: navigation
navorder: 3
---
{% include JB/setup %}

<div class="bigspacer"></div> 

{% assign newpapers = site.categories.papers | where_exp: "paper", "paper.year > 2015" %}
{% assign oldpapers = site.categories.papers | where_exp: "paper", "paper.year < 2016" %}

<div class="bigspacer"></div>
{% assign memberindex = 0 %}
{% for paper in newpapers %}  
  {% include themes/lab/onepaper.html %}
{% endfor %}

{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}

<div class="title ">Selected Papers Before HRC<sup>2</sup></div>
<div class="bigspacer"></div>
{% assign memberindex = 0 %}
{% for paper in oldpapers %}  
  {% include themes/lab/onepaper.html %}
{% endfor %}

{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}

<div class="">For more papers by Prof. Hoffman prior to HRC<sup>2</sup>, please see <a href="http://www.guyhoffman.com/category/publications/">this list</a></div>

<div class="bigspacer"></div>
